<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Volume Report</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <style>
  .card{
    padding-bottom: 10px
  }
  .container {
    display: flex;
  }
</style>
</head>
<body>
  <div class="jumbotron">
    <h1 class="text-dark text-center"><strong style="font-weight:900">Sales </strong> <strong style="font-weight:100; color:deepskyblue;">Report</strong></h1>
    <img src="{% static 'core/img/richily1.png' %}" class="float-right" width="150px">
  </div>
  <div class = "container-fluid">
{% block content %}
{% endblock %}
      <footer class="footer sticky-bottom bg bg-info text-white text-center" style="padding:10px;">
            Copyright@ 2018 <strong>Richily.com</strong>
      </footer>
</body>

</html>
