{% extends 'core/base.html' %}
{% block content %}
    <br>
<div class="media border border-outline-info shadow-sm" style="padding:15px;">
  <img class="align-self-center mr-3" src="{% static 'core/img/sync.png' %}" alt="Generic placeholder image"  width="100px" height="100px">
  <div class="media-body">
    <h4 class="mt-0">
      <strong>Sync</strong>
      <strong style="font-weight: 100; color:deepskyblue"> Orders</strong>
    </h4>
    <p>Your orders needs to be synced to generate the sales volume data. This will be a
      <strong>One-Time process</strong>
      to fetch all the past orders.<br><i>
      (Generally we fetch 1000 Orders per minute.)</i></p>
    <p class="card-text"></p>
    <button class="btn btn-info btn-lg text-white center" id='btnsubmit'>Sync</button>
  </div>
</div>

{% endblock %}
