<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Volume Report</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
  <div class="jumbotron">
    <h1 class="text-dark text-center"><strong style="font-weight:900">Sales </strong> <strong style="font-weight:100; color:deepskyblue;">Report</strong></h1>
    <img src="{% static 'core/img/richily1.png' %}" class="float-right" width="150px">

  </div>
  <div class = "container">

  <h4 class="text-center">Error while fulfilling your request, Please try again after a while!</h4><br><hr>
  <h5>Troubleshooting Steps</h5>
    <li>Clear your browser cache and refresh the browser.</li>
    <li>Close this window and Reinstall the App after 5-10 minutes.</li>
    <li>If above method doesn't work, please contact our support executive - <a href="mailto:tanishqandmac@gmail.com" target="_top">tanishqandmac@gmail.com</a></li>
      <br><br><br><br></div>
      <footer class="page-footer font-small bg-dark text-white">
        <div class="footer text-center"><img src="{% static 'core/img/footer.png' %}" width="250px" >
        </div>
      </footer>
</body>

</html>
