{% extends 'core/base.html' %}
{% block content %}
<h4 class="text-center">Error while fulfilling your request, Please try again after a while!</h4><br><hr>
<h5>Troubleshooting Steps</h5>
<li>Clear your browser cache and refresh the browser.</li>
<li>Close this window and Reinstall the App after 5-10 minutes.</li>
<li>If above method doesn't work, please contact our support executive - <a href="mailto:richilycare@gmail.com" target="_top">richilycare@gmail.com</a></li>
<br><br><br><br>
</div>
{% endblock %}
