{% extends 'core/base.html' %}
{% block content %}
<h2><span>FAQ</span><strong> Section</strong> </h2><hr>
<ul>
<li><strong>Q. I have just installed the app, how much time it will take to fetch the orders?</strong><br>
  A. Unless you have very large number of orders, it wont take more than 10 minutes. Usually the app around 1000 orders per minute.</li><br>
<li><strong>Q. Can I see the order volume within a custom range?</strong><br>
A. Yes absolutely, just navigate to custom range in the navbar, select the range and you are ready to go!</li><br>
<li><strong>Q. Do I need to sync all the past orders everytime I open this app?</strong><br>
A. No this is only a one time process</li><br>
<li><strong>Q. What about the future orders?</strong><br>
A. We designed this app in such a way that it will automatically update the table whenever any new order is placed.</li><br>
<li><strong>Q. What information do you store about my customers?</strong><br>
A. We only store 4 fields - SKU, Product Name, Quantity &amp; Vendor Name - that our necessary for this app to work. We believe in complete transparency with our clients and therefore no sensitive/extra information is stored about the store owner or there customers.</li><br>
<li><strong>Q. What happens to my data after I uninstall this app?</strong><br>
A. The app will automatically delete all the data from our database after uninstallation.</li><br>
<li>If you have any other query/question, feel free to contact our support executive - <a href="mailto:richilycare@gmail.com" target="_top">richilycare@gmail.com</a></li>
</ul>
<br><br><br>
{% endblock %}
