{% extends 'core/base.html' %}
{% block content %}
    {% if Sync %}
    <div class="alert alert-warning alert-dismissible" id="popupp" style="visibility:hidden;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Please wait for 5-10 minutes as orders are still being synced.
    </div>
    {% endif %}
    <h2><span>{{Summary}}</span><strong> Report</strong> </h2><hr>
    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
      <ul class="navbar-nav text-center container">
        <li class="nav-item">
          <a href="/index"  class="nav-link">All</a>
        </li>
        <li class="nav-item">
          <a href="/index/?query=today" class="nav-link">Today</a>
        </li>
        <li class="nav-item">
          <a href="/index/?query=week" class="nav-link">This Week</a>
        </li>
        <li class="nav-item">
          <a href="/index/?query=month" class="nav-link">This Month</a>
        </li>
        <li class="nav-item">
          <a href="/index/?query=lastmonth" class="nav-link">Last Month</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Quarterly
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/index/?query=1stquarter">1st Quarter</a>
            <a class="dropdown-item" href="/index/?query=2ndquarter">2nd Quarter</a>
            <a class="dropdown-item" href="/index/?query=3rdquarter">3rd Quarter</a>
            <a class="dropdown-item" href="/index/?query=4thquarter">4th Quarter</a>
          </div>
        </li>

        <li>
          <div class="btn-group justify-content-end" style="margin:5px; right:0;">
            <input id="lol" type="text" name="datefilter" value="" placeholder="Custom Range"/>
            <button class="btn btn-info"id="myButton" onclick="customDate()">Go</button>
          </div>
        </li>
      </ul>
    </nav>
    <hr>

    <table id="example" class="table table-striped table-bordered rounded shadow-lg" style="width:100%">
      <thead class="bg-info text-white">
        <tr>
          <th>SKU</th>
          <th>Name</th>
          <th>Variant</th>
          <th>Quantity</th>
          <th>Vendor</th>
        </tr>
      </thead>
      <tbody>
        {% for Product in Products %}
        <tr>
          <td>{{Product.SKU}}</td>
          <td>{{Product.Name}}</td>
          <td>{{Product.Variant}}</td>
          <td>{{Product.Quantity}}</td>
          <td>{{Product.Vendor}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br><hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <h5 class="card-title"><strong>Quick</strong> Links</h5><hr class="bg-secondary">
            <!-- <p class="card-text">Facing issues with our App? You can sync your orders again <a href = "{% url 'core:syncpage' %}">here</a> (This may take a while). You can also contact our customer support for any other issues<br> <strong class = "text-center">Email - <a href="mailto:richilycare@gmail.com" target="_top">richilycare@gmail.com</a></strong></p> -->
            <p class="card-text">
              <ul>
                <li>Installation Guide</li>
                <li>FAQ</li>
                </ul>
            </p>

          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <h5 class="card-title"><strong>Customer </strong>Support</h5><hr class="bg-secondary">
            <!-- <p class="card-text">We listen to all your feedbacks/suggestions very sincerelly. If you have any App/feature request, Let us know!<br><strong class = "text-center">Email - <a href="mailto:richilystuff@gmail.com" target="_top">richilystuff@gmail.com</a></strong></p> -->
            <p class="card-text">Facing issues with our App? You can always re-sync your orders by clicking this <a href = "{% url 'core:syncpage' %}">link</a>. You can also contact our customer support for any other issues<br> <strong class = "text-center">Email - <a href="mailto:richilycare@gmail.com" target="_top">richilycare@gmail.com</a></strong></p>

          </div>
        </div>
      </div>
    </div>
    <br>
{% endblock %}
