{% extends 'core/base.html' %}
{% load staticfiles%}
{% block content %}


    <br>
    <h2><span>Installation </span><strong> Steps</strong></h2><hr>
    <li> Click the "Sync" button below to fetch all the past orders.</li>
    <li> Once clicked you'll be directed to the main page of the app which will display all the data.</li>
    <li><strong>P.S - Your main page will reflect all the data within 5-10 mins after fetching all the past data</strong></li>

    <a href = "{% url 'core:syncpage' %}"><button type="button" class="btn btn-success">Resync Orders</button></a>
<br>
<div class="media border border-outline-info shadow-sm" style="padding:15px;">
  <img class="align-self-center mr-3" src="{% static 'core/img/sync.png' %}" alt="Generic placeholder image"  width="100px" height="100px">
  <div class="media-body">
    <h4 class="mt-0">
      <strong>Sync</strong>
      <strong style="font-weight: 100; color:deepskyblue"> Orders</strong>
    </h4>
    <p>Your orders needs to be synced to generate the sales volume data. This will be a
      <strong>One-Time process</strong>
      to fetch all the past orders.<br><i>
      (Generally we fetch 1000 Orders per minute.)</i></p>
    <p class="card-text"></p>
    <button class="btn btn-info btn-lg text-white center" id='btnsubmit'>Sync</button>
  </div>
</div>
<script type="text/javascript">
$(function()
{
  $('#btnsubmit').on('click',function()
  {
    $(this).text('Fetching Orders ...')
    .attr('disabled','disabled');
    location.href="/sync"
  });

});
</script>
{% endblock %}
